.content-mapa {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-container {
    padding: 30px 2%;
}
img.mapa {
    width: 280px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.box-txt.contact {
    margin-bottom: 40px;
}
.redes {
    display: flex;
    justify-content: space-between;
    width: 70px;
    font-size: 28px;
}
.redes i{
    color: #274A39;
}
@media(min-width: 740px){
.contact-container {
    padding: 40px 5%;

}

img.mapa {
    width: 400px;
}
}

@media(min-width: 1024px){
    img.mapa {
        width: 600px;
    }
    }
    