.image-slider {
  position: absolute;
  top: 0;
  left: 0;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70vh;
  background-size: cover;  
  background-position: center,center;
  }
  
  @media (min-width: 768px){
    .bg {
      height: 80vh;
    }
  }